example/src/main/resources/all/person.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
        <xs:complexType name="persontype">
            <xs:all>
                <xs:element name="firstname" type="xs:string"/>
                <xs:element name="lastname" type="xs:string" minOccurs="1"/>
                <xs:element name="age" type="xs:positiveInteger"/>
            </xs:all>
        </xs:complexType>
    <xs:element name="persons">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="person" type="persontype" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
